body {
    background-color:white;
    margin:0px;
}

.Header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: black;
    color: white;
    margin: 0px;
}

div{
    margin-top: 10px;
    margin-left: 10px;
}